Repository SpaceStationUA/station, pull requests merged in 2024-10, with the labels that each got.

#59 Фікс кораблів
  Resources/Maps/box.yml
Labels: Changes: Map, Changes: YML

#62 More hairstyles
  Resources/Changelog/Admin.yml
  Resources/Locale/uk-UA/_Goob/accessories/human-hair.ftl
  Resources/Prototypes/Goobstation/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/braidedExtensions.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/cometTail.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/fantasyHair.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/flatTwistsUpdo.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/floorlengthBraid.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/floorlengthWavy.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/frizzyBraid.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/frontBraidsLong.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/frontBraidsMedium.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/frontBraidsShort.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/hairnet.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/jellyfish.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/kazuyaMishima.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/longBraids.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/longCurvy.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/longPompadour.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/mediumCurls.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/meta.json
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/mullet.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/pelvicLengthBraid.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/plateau.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/queenBee.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/saggedMohawk.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/sharpMohawk.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/shortAndPoofy.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/shortCurls.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/shoulderLengthBraid.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/sideSpike.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/spaceLoops.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/star.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/starFro.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/styledCurls.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/unkemptScientist.png
  Resources/Textures/_Goobstation/Mobs/Customization/human_hair.rsi/wispy.png
Labels: Changes: YML, Changes: Sprite, Changes: Localization

#61 cqc
  Resources/Changelog/Admin.yml
  Resources/Prototypes/_Pirate/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/_Pirate/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Pirate/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/_Pirate/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_Pirate/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/_Pirate/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/_Pirate/Entities/Clothing/Neck/mics.yml
  Resources/Prototypes/_Pirate/Entities/Clothing/OuterClothing/armor.yml
  Resources/Textures/_Pirate/Clothing/Belt/syndie_west.rsi/equipped-BELT.png
  Resources/Textures/_Pirate/Clothing/Belt/syndie_west.rsi/icon.png
  Resources/Textures/_Pirate/Clothing/Belt/syndie_west.rsi/inhand-left.png
  Resources/Textures/_Pirate/Clothing/Belt/syndie_west.rsi/inhand-right.png
  Resources/Textures/_Pirate/Clothing/Belt/syndie_west.rsi/meta.json
  Resources/Textures/_Pirate/Clothing/Eyes/Glasses/syndi_visor.rsi/icon.png
  Resources/Textures/_Pirate/Clothing/Eyes/Glasses/syndi_visor.rsi/light-icon.png
  Resources/Textures/_Pirate/Clothing/Eyes/Glasses/syndi_visor.rsi/meta.json
  Resources/Textures/_Pirate/Clothing/Eyes/Glasses/syndi_visor.rsi/off-equipped-EYES.png
  Resources/Textures/_Pirate/Clothing/Eyes/Glasses/syndi_visor.rsi/off-inhand-left.png
  Resources/Textures/_Pirate/Clothing/Eyes/Glasses/syndi_visor.rsi/off-inhand-right.png
  Resources/Textures/_Pirate/Clothing/Eyes/Glasses/syndi_visor.rsi/on-equipped-EYES.png
  Resources/Textures/_Pirate/Clothing/Eyes/Glasses/syndi_visor.rsi/on-inhand-left.png
  Resources/Textures/_Pirate/Clothing/Eyes/Glasses/syndi_visor.rsi/on-inhand-right.png
  Resources/Textures/_Pirate/Clothing/Hands/Gloves/syndie_disarming_gloves.rsi/equipped-HAND.png
  Resources/Textures/_Pirate/Clothing/Hands/Gloves/syndie_disarming_gloves.rsi/icon.png
  Resources/Textures/_Pirate/Clothing/Hands/Gloves/syndie_disarming_gloves.rsi/inhand-left.png
  Resources/Textures/_Pirate/Clothing/Hands/Gloves/syndie_disarming_gloves.rsi/inhand-right.png
  Resources/Textures/_Pirate/Clothing/Hands/Gloves/syndie_disarming_gloves.rsi/meta.json
  Resources/Textures/_Pirate/Clothing/Head/Helmets/syndie_leather_mask.rsi/equipped-HELMET.png
  Resources/Textures/_Pirate/Clothing/Head/Helmets/syndie_leather_mask.rsi/icon.png
  Resources/Textures/_Pirate/Clothing/Head/Helmets/syndie_leather_mask.rsi/inhand-left.png
  Resources/Textures/_Pirate/Clothing/Head/Helmets/syndie_leather_mask.rsi/inhand-right.png
  Resources/Textures/_Pirate/Clothing/Head/Helmets/syndie_leather_mask.rsi/meta.json
  Resources/Textures/_Pirate/Clothing/Neck/Misc/syndie_number.rsi/equipped-NECK.png
  Resources/Textures/_Pirate/Clothing/Neck/Misc/syndie_number.rsi/icon.png
  Resources/Textures/_Pirate/Clothing/Neck/Misc/syndie_number.rsi/meta.json
  Resources/Textures/_Pirate/Clothing/OuterClothing/Armor/syndie_oper.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Pirate/Clothing/OuterClothing/Armor/syndie_oper.rsi/icon.png
  Resources/Textures/_Pirate/Clothing/OuterClothing/Armor/syndie_oper.rsi/inhand-left.png
  Resources/Textures/_Pirate/Clothing/OuterClothing/Armor/syndie_oper.rsi/inhand-right.png
  Resources/Textures/_Pirate/Clothing/OuterClothing/Armor/syndie_oper.rsi/meta.json
Labels: Changes: YML, Changes: Sprite
