Repository SpaceStationUA/station, pull requests merged in 2024-11, with the labels that each got.

#68 combat magboots
  Resources/Changelog/Admin.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Prototypes/_Pirate/Entities/Clothing/Shoes/combatmags.yml
  Resources/Prototypes/_Pirate/Recipes/Lathes/security.yml
  Resources/Textures/_Pirate/Clothing/Shoes/Boots/combatMagboots.rsi/equipped-FEET-vox.png
  Resources/Textures/_Pirate/Clothing/Shoes/Boots/combatMagboots.rsi/equipped-FEET.png
  Resources/Textures/_Pirate/Clothing/Shoes/Boots/combatMagboots.rsi/icon-on.png
  Resources/Textures/_Pirate/Clothing/Shoes/Boots/combatMagboots.rsi/icon.png
  Resources/Textures/_Pirate/Clothing/Shoes/Boots/combatMagboots.rsi/inhand-left.png
  Resources/Textures/_Pirate/Clothing/Shoes/Boots/combatMagboots.rsi/inhand-right.png
  Resources/Textures/_Pirate/Clothing/Shoes/Boots/combatMagboots.rsi/meta.json
  Resources/Textures/_Pirate/Clothing/Shoes/Boots/combatMagboots.rsi/on-equipped-FEET-vox.png
  Resources/Textures/_Pirate/Clothing/Shoes/Boots/combatMagboots.rsi/on-equipped-FEET.png
  Resources/Textures/_Pirate/Clothing/Shoes/Boots/combatMagboots.rsi/on-inhand-left.png
  Resources/Textures/_Pirate/Clothing/Shoes/Boots/combatMagboots.rsi/on-inhand-right.png
Labels: Changes: YML, Changes: Sprite

#69 Revert "temp ween anouncers"
  Resources/Audio/Announcers/MedBot/comms/welcome.ogg
  Resources/Audio/Announcers/Michael/comms/welcome.ogg
  Resources/Audio/Announcers/NEIL/comms/welcome.ogg
  Resources/Audio/Announcers/VoxFem/comms/welcome.ogg
Labels: Changes: YML, Changes: Audio

#67 Delete shadowkin ban in mental traits and sience
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Epistemics/forensicmantis.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Traits/mental.yml
Labels: Changes: YML

#70 Localized barsigns
  Resources/Textures/Objects/Misc/skub.rsi/icon.png
  Resources/Textures/Structures/Wallmounts/barsign.rsi/birdcage.png
  Resources/Textures/Structures/Wallmounts/barsign.rsi/combocafe.png
  Resources/Textures/Structures/Wallmounts/barsign.rsi/emergencyrumparty.png
  Resources/Textures/Structures/Wallmounts/barsign.rsi/emprah.png
  Resources/Textures/Structures/Wallmounts/barsign.rsi/enginechange.png
  Resources/Textures/Structures/Wallmounts/barsign.rsi/goose.png
  Resources/Textures/Structures/Wallmounts/barsign.rsi/klubskub.png
  Resources/Textures/Structures/Wallmounts/barsign.rsi/maidcafe.png
  Resources/Textures/Structures/Wallmounts/barsign.rsi/maltesefalcon.png
  Resources/Textures/Structures/Wallmounts/barsign.rsi/officerbeersky.png
  Resources/Textures/Structures/Wallmounts/barsign.rsi/robustacafe.png
  Resources/Textures/Structures/Wallmounts/barsign.rsi/spacebucks.png
  Resources/Textures/Structures/Wallmounts/barsign.rsi/the_lightbulb.png
  Resources/Textures/Structures/Wallmounts/barsign.rsi/thealenath.png
  Resources/Textures/Structures/Wallmounts/barsign.rsi/thecoderbus.png
  Resources/Textures/Structures/Wallmounts/barsign.rsi/theharmbaton.png
  Resources/Textures/Structures/Wallmounts/barsign.rsi/theouterspess.png
  Resources/Textures/Structures/Wallmounts/barsign.rsi/thesingulo.png
  Resources/Textures/Structures/Wallmounts/barsign.rsi/thesun.png
  Resources/Textures/Structures/Wallmounts/barsign.rsi/zocalo.png
Labels: Changes: YML, Changes: Sprite

#73 emote animations
  Content.Client/_Pirate/Emoting/AnimatedEmotesSystem.cs
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Server/_Pirate/Emoting/AnimatedEmotesSystem.cs
  Content.Shared/Chat/Prototypes/EmotePrototype.cs
  Content.Shared/_Pirate/Emoting/AnimatedEmotesComponent.cs
  Content.Shared/_Pirate/Emoting/SharedAnimatedEmotesSystem.cs
  Resources/Changelog/Admin.yml
  Resources/Locale/uk-UA/_Pirate/emotes.ftl
  Resources/Prototypes/DeltaV/Voice/speech_emotes.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/_Pirate/Actions/emotes.yml
Labels: Changes: YML, Changes: C#, Changes: Localization

#76 Cargo Duffel Bags
  Resources/Changelog/Admin.yml
  Resources/Prototypes/_Pirate/Catalog/Cargo/cargo_clothing.yml
  Resources/Prototypes/_Pirate/Catalog/Fills/Crates/scargo.yml
  Resources/Prototypes/_Pirate/Entities/Clothing/Back/s-cargo.yml
  Resources/Prototypes/_Pirate/Entities/Structures/Storage/Crates/crates.yml
  Resources/Textures/_Pirate/Clothing/Back/Duffels/scargo_cyan.rsi/equipped-BACKPACK.png
  Resources/Textures/_Pirate/Clothing/Back/Duffels/scargo_cyan.rsi/icon.png
  Resources/Textures/_Pirate/Clothing/Back/Duffels/scargo_cyan.rsi/inhand-left.png
  Resources/Textures/_Pirate/Clothing/Back/Duffels/scargo_cyan.rsi/inhand-right.png
  Resources/Textures/_Pirate/Clothing/Back/Duffels/scargo_cyan.rsi/meta.json
  Resources/Textures/_Pirate/Clothing/Back/Duffels/scargo_purple.rsi/equipped-BACKPACK.png
  Resources/Textures/_Pirate/Clothing/Back/Duffels/scargo_purple.rsi/icon.png
  Resources/Textures/_Pirate/Clothing/Back/Duffels/scargo_purple.rsi/inhand-left.png
  Resources/Textures/_Pirate/Clothing/Back/Duffels/scargo_purple.rsi/inhand-right.png
  Resources/Textures/_Pirate/Clothing/Back/Duffels/scargo_purple.rsi/meta.json
  Resources/Textures/_Pirate/Structures/Storage/Crates/luxury.rsi/base.png
  Resources/Textures/_Pirate/Structures/Storage/Crates/luxury.rsi/closed.png
  Resources/Textures/_Pirate/Structures/Storage/Crates/luxury.rsi/icon.png
  Resources/Textures/_Pirate/Structures/Storage/Crates/luxury.rsi/meta.json
  Resources/Textures/_Pirate/Structures/Storage/Crates/luxury.rsi/open.png
  Resources/Textures/_Pirate/Structures/Storage/Crates/luxury.rsi/sparking.png
  Resources/Textures/_Pirate/Structures/Storage/Crates/luxury.rsi/welded.png
Labels: Changes: YML, Changes: Sprite
