Repository SpaceStationUA/station, pull requests merged in 2025-05, with the labels that each got.

#91 Reaction Chamber(MVP!!!)
  Content.Client/_Pirate/ReactionChamber/UI/ReactionChamberBoundUI.cs
  Content.Client/_Pirate/ReactionChamber/UI/ReactionChamberWindow.xaml
  Content.Client/_Pirate/ReactionChamber/UI/ReactionChamberWindow.xaml.cs
  Content.Server/_Pirate/ReactionChamber/Components/ReactionChamberComponent.cs
  Content.Server/_Pirate/ReactionChamber/EntitySystems/ReactionChamberSystem.cs
  Content.Shared/_Pirate/ReactionChamber/Components/ReactionChamberMessages.cs
  Content.Shared/_Pirate/ReactionChamber/ReactionChamberUIKeys.cs
  Resources/Prototypes/_Pirate/Entities/Structures/Machine/reaction_chamber.yml
  Resources/Textures/_Pirate/Structures/Machines/reaction_chamber.rsi/base.png
  Resources/Textures/_Pirate/Structures/Machines/reaction_chamber.rsi/filled.png
  Resources/Textures/_Pirate/Structures/Machines/reaction_chamber.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Changes: C#, Changes: UI

#93 Squidgame
  Resources/Prototypes/_Pirate/SquidGame/GhostRoles.yml
  Resources/Prototypes/_Pirate/SquidGame/clothing.yml
  Resources/Prototypes/_Pirate/SquidGame/loadouts.yml
Labels: Changes: YML

#89 Engineering and Command
  Resources/Prototypes/_Pirate/Loadouts/Jobs/Command/traitRestrictedGear.yml
  Resources/Prototypes/_Pirate/Loadouts/Jobs/Engineering/traitRestrictedGear.yml
  Resources/Prototypes/_Pirate/Loadouts/Jobs/Epistemics/traitRestrictedGear.yml
  Resources/Prototypes/_Pirate/Loadouts/Jobs/Logistics/traitRestrictedGear.yml
  Resources/Prototypes/_Pirate/Loadouts/Jobs/Medical/traitRestrictedGear.yml
  Resources/Prototypes/_Pirate/Loadouts/Jobs/Security/traitRestrictedGear.yml
  Resources/Prototypes/_Pirate/Loadouts/Jobs/Service/traitRestrictedGear.yml
Labels: Changes: YML

#94 Attachable Accesories
  Content.Server/_Pirate/AttachedAccessories/AccessoryComponent.cs
  Content.Server/_Pirate/AttachedAccessories/CanHoldAccessoriesComponent.cs
  Content.Server/_Pirate/AttachedAccessories/CanHoldAccessoriesSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/_Pirate/tags.yml
Labels: Changes: YML, Changes: C#

#95 Quick Fix. Fixed Error Where Charger Would Crush Server on Use. Fixed…
  Content.Server/_Pirate/Power/EntitySystems/IPCChargerSystem.cs
  Content.Shared/_Pirate/Power/IPCChargerVisuals.cs
  Resources/Prototypes/_Pirate/Entities/Objects/Power/ipccharger.yml
Labels: Changes: YML, Changes: C#

#96 Fixed Sprite Change. Added Float NaN Protection
  Content.Server/_Pirate/ReactionChamber/EntitySystems/ReactionChamberSystem.cs
  Content.Shared/_Pirate/ReactionChamber/ReactionChamberVisuals.cs
  Resources/Prototypes/_Pirate/Entities/Structures/Machine/reaction_chamber.yml
Labels: Changes: YML, Changes: Sprite, Changes: C#

#98 Сadets Now Cant Choose Officers Uniform and Most Weapons
  Resources/Prototypes/Loadouts/Jobs/Security/uncategorized.yml
  Resources/Prototypes/Loadouts/Jobs/Security/weapons.yml
Labels: Changes: YML

#100 Security Lethal Ammo Is Now Limitted to 1 Magazine.
  Resources/Prototypes/Loadouts/Jobs/Security/weapons.yml
  Resources/Prototypes/_Pirate/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/_Pirate/Loadouts/Jobs/Security/weapons.yml
Labels: Changes: YML

#102 Holo Cigar
  Content.Shared/Wieldable/WieldableSystem.cs
  Content.Shared/_Goobstation/HoloCigar/HoloCigarAffectedGunComponent.cs
  Content.Shared/_Goobstation/HoloCigar/HoloCigarComponent.cs
  Content.Shared/_Goobstation/HoloCigar/HoloCigarSystem.cs
  Content.Shared/_Goobstation/HoloCigar/TheManWhoSoldTheWorldComponent.cs
  Resources/Audio/_Goobstation/Items/TheManWhoSoldTheWorld/invisible.ogg
  Resources/Audio/_Goobstation/Items/TheManWhoSoldTheWorld/whouuuHOOAAAAAAAAAAAAH.ogg
  Resources/Locale/en-US/_Goobstation/holocigar/holo-cigar.ftl
  Resources/Locale/uk-UA/_Goobstation/holocigar/holo-cigar.ftl
  Resources/Prototypes/_Goobstation/Catalog/uplink_catalog.yml
  Resources/Prototypes/_Goobstation/Entities/Objects/Devices/Syndicate_Gadgets/holo_cigar.yml
  Resources/Textures/_Goobstation/Objects/Devices/holocigar.rsi/icon.png
  Resources/Textures/_Goobstation/Objects/Devices/holocigar.rsi/lit-icon.png
  Resources/Textures/_Goobstation/Objects/Devices/holocigar.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Changes: C#, Changes: Localization, Changes: Audio

#103 Aiming Mechanic
  Content.Shared/Alert/AlertCategory.cs
  Content.Shared/Alert/AlertType.cs
  Content.Shared/_Pirate/Actions/Events/OnAimingTargetMoveEvent.cs
  Content.Shared/_Pirate/Aiming/CanTakeAimComponent.cs
  Content.Shared/_Pirate/Aiming/OnSightComponent.cs
  Content.Shared/_Pirate/Aiming/SharedCanTakeAimSystem.cs
  Content.Shared/_Pirate/Aiming/SharedOnSightSystem.cs
  Resources/Prototypes/Alerts/categories.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_pka.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_wieldable.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/flare_gun.yml
  Resources/Prototypes/_Pirate/Aiming/Alerts/alerts.yml
  Resources/Textures/_Pirate/Interface/Alerts/aiming.rsi/icon.png
  Resources/Textures/_Pirate/Interface/Alerts/aiming.rsi/meta.json
Labels: Changes: YML, Changes: Sprite, Changes: C#

#104 Major Balance Changes
  Resources/Prototypes/_Pirate/Loadouts/Jobs/Command/traitRestrictedGear.yml
Labels: Changes: YML

#105 Aiming Mechanic Update
  Content.Shared/_Pirate/Aiming/CanTakeAimComponent.cs
  Content.Shared/_Pirate/Aiming/Events/OnAimerShootingEvent.cs
  Content.Shared/_Pirate/Aiming/Events/OnAimingTargetMoveEvent.cs
  Content.Shared/_Pirate/Aiming/OnSightComponent.cs
  Content.Shared/_Pirate/Aiming/SharedCanTakeAimSystem.cs
  Content.Shared/_Pirate/Aiming/SharedOnSightSystem.cs
Labels: Changes: YML, Changes: C#

#106 Traits And Loadouts Changes
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/physical.yml
  Resources/Prototypes/_Pirate/Loadouts/Jobs/Security/corpsman.yml
Labels: Changes: YML

#110 Remove Do Not Resuscitate Trait From IPC
  Resources/Prototypes/_Pirate/Traits/physical.yml
Labels: Changes: YML

#112 Tape Recorder
  Content.Client/_Goobstation/TapeRecorder/TapeRecorderSystem.cs
  Content.Client/_Goobstation/TapeRecorder/UI/TapeRecorderBoundUserInterface.cs
  Content.Client/_Goobstation/TapeRecorder/UI/TapeRecorderWindow.xaml
  Content.Client/_Goobstation/TapeRecorder/UI/TapeRecorderWindow.xaml.cs
  Content.Server/_Goobstation/TapeRecorder/TapeRecorderSystem.cs
  Content.Shared/_Goobstation/TapeRecorder/Components/ActiveTapeRecorderComponent.cs
  Content.Shared/_Goobstation/TapeRecorder/Components/FitsInTapeRecorderComponent.cs
  Content.Shared/_Goobstation/TapeRecorder/Components/TapeCasetteComponent.cs
  Content.Shared/_Goobstation/TapeRecorder/Components/TapeRecorderComponent.cs
  Content.Shared/_Goobstation/TapeRecorder/Systems/SharedTapeRecorderSystem.cs
  Content.Shared/_Goobstation/TapeRecorder/TapeCasetteRecordedMessage.cs
  Content.Shared/_Goobstation/TapeRecorder/TapeRecorderUI.cs
  Resources/Audio/DeltaV/Items/TapeRecorder/attributions.yml
  Resources/Audio/DeltaV/Items/TapeRecorder/play.ogg
  Resources/Audio/DeltaV/Items/TapeRecorder/rewind.ogg
  Resources/Audio/DeltaV/Items/TapeRecorder/stop.ogg
  Resources/Locale/en-US/DeltaV/taperecorder/taperecorder.ftl
  Resources/Locale/uk-UA/mail/mail.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/DeltaV/Catalog/Fills/Boxes/security.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Devices/tape_recorder.yml
  Resources/Prototypes/DeltaV/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/DeltaV/Recipes/Lathes/misc.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/reporter.yml
  Resources/Prototypes/_EE/Research/civilianservices.yml
  Resources/Prototypes/_Shitmed/Research/civilianservices.yml
  Resources/Textures/DeltaV/Objects/Devices/cassette_tapes.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Devices/cassette_tapes.rsi/tape_greyscale.png
  Resources/Textures/DeltaV/Objects/Devices/cassette_tapes.rsi/tape_ribbonoverlay.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/empty.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/idle.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/inhand-left.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/inhand-right.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/playing.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/recording.png
  Resources/Textures/DeltaV/Objects/Devices/tape_recorder.rsi/rewinding.png
  Resources/Textures/DeltaV/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/DeltaV/Objects/Storage/boxes.rsi/recorder.png
Labels: Changes: YML, Changes: Sprite, Changes: C#, Changes: Localization, Changes: Audio, Changes: UI

#114 Кастомна Уніформа + Окуляри (Без Лайна)
  Resources/Prototypes/_Pirate/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/_Pirate/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/_Pirate/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/_Pirate/Entities/Clothing/Uniforms/Jumpskirt.yml
  Resources/Prototypes/_Pirate/Loadouts/Generic/outerClothing.yml
  Resources/Prototypes/_Pirate/Loadouts/Generic/shoes.yml
  Resources/Prototypes/_Pirate/Loadouts/Generic/uniform.yml
  Resources/Prototypes/_Pirate/Loadouts/Jobs/Engineering/uncategorized.yml
  Resources/Textures/_Pirate/Clothing/Eyes/Glasses/orange_meson.rsi/equipped-EYES.png
  Resources/Textures/_Pirate/Clothing/Eyes/Glasses/orange_meson.rsi/icon.png
  Resources/Textures/_Pirate/Clothing/Eyes/Glasses/orange_meson.rsi/inhand-left.png
  Resources/Textures/_Pirate/Clothing/Eyes/Glasses/orange_meson.rsi/inhand-right.png
  Resources/Textures/_Pirate/Clothing/Eyes/Glasses/orange_meson.rsi/meta.json
  Resources/Textures/_Pirate/Clothing/OuterClothing/Coats/engineer_gray.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_Pirate/Clothing/OuterClothing/Coats/engineer_gray.rsi/icon.png
  Resources/Textures/_Pirate/Clothing/OuterClothing/Coats/engineer_gray.rsi/inhand-left.png
  Resources/Textures/_Pirate/Clothing/OuterClothing/Coats/engineer_gray.rsi/inhand-right.png
  Resources/Textures/_Pirate/Clothing/OuterClothing/Coats/engineer_gray.rsi/meta.json
  Resources/Textures/_Pirate/Clothing/Shoes/Specific/short_fabricWrap.rsi/equipped-FEET.png
  Resources/Textures/_Pirate/Clothing/Shoes/Specific/short_fabricWrap.rsi/equipped-HAND.png
  Resources/Textures/_Pirate/Clothing/Shoes/Specific/short_fabricWrap.rsi/icon.png
  Resources/Textures/_Pirate/Clothing/Shoes/Specific/short_fabricWrap.rsi/meta.json
  Resources/Textures/_Pirate/Clothing/Uniforms/Jumpskirt/engineer_gray.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Pirate/Clothing/Uniforms/Jumpskirt/engineer_gray.rsi/icon.png
  Resources/Textures/_Pirate/Clothing/Uniforms/Jumpskirt/engineer_gray.rsi/inhand-left.png
  Resources/Textures/_Pirate/Clothing/Uniforms/Jumpskirt/engineer_gray.rsi/inhand-right.png
  Resources/Textures/_Pirate/Clothing/Uniforms/Jumpskirt/engineer_gray.rsi/meta.json
Labels: Changes: YML, Changes: Sprite
