Repository SpaceStationUA/station, pull requests merged in 2025-04, with the labels that each got.

#81 Фікс прототипів для івенту Squidgame
  Resources/Prototypes/_Pirate/SquidGame/clothing.yml
  Resources/Prototypes/_Pirate/SquidGame/coffin.yml
  Resources/Textures/_Pirate/SquidGame/Clothing/Uniform/blue.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Pirate/SquidGame/Clothing/Uniform/blue.rsi/meta.json
  Resources/Textures/_Pirate/SquidGame/Clothing/Uniform/red.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_Pirate/SquidGame/Clothing/Uniform/red.rsi/meta.json
  Resources/Textures/_Pirate/SquidGame/coffin.rsi/base.png
  Resources/Textures/_Pirate/SquidGame/coffin.rsi/bounty.png
  Resources/Textures/_Pirate/SquidGame/coffin.rsi/captains_paper.png
  Resources/Textures/_Pirate/SquidGame/coffin.rsi/closed.png
  Resources/Textures/_Pirate/SquidGame/coffin.rsi/generic.png
  Resources/Textures/_Pirate/SquidGame/coffin.rsi/generic_door.png
  Resources/Textures/_Pirate/SquidGame/coffin.rsi/generic_icon.png
  Resources/Textures/_Pirate/SquidGame/coffin.rsi/generic_open.png
  Resources/Textures/_Pirate/SquidGame/coffin.rsi/invoice.png
  Resources/Textures/_Pirate/SquidGame/coffin.rsi/meta.json
  Resources/Textures/_Pirate/SquidGame/coffin.rsi/open.png
  Resources/Textures/_Pirate/SquidGame/coffin.rsi/paper.png
Labels: Changes: YML, Changes: Sprite

#82 IPC/Cyborgs
  Resources/Prototypes/Actions/emotes.yml
  Resources/Prototypes/InventoryTemplates/ipc_inventory_template.yml
Labels: Changes: YML

#83 Ремап Суперматерії
  Resources/Maps/box.yml
Labels: Changes: Map, Changes: YML

#86 Remove Code Which Crushes My Local Environment
  Content.Client/Weapons/Melee/MeleeWeaponSystem.Effects.cs
Labels: Changes: YML, Changes: C#

#88 Carry Ua Ghost
  Resources/Prototypes/_Pirate/Ghosts/custom_ghosts.yml
  Resources/Textures/_Pirate/Ghosts/Carry_ua.rsi/animated.png
  Resources/Textures/_Pirate/Ghosts/Carry_ua.rsi/meta.json
Labels: Changes: YML, Changes: Sprite

#90 Зміни Для ГШР
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
Labels: Changes: YML
