Repository SpaceStationUA/station, pull requests merged in 2025-06, with the labels that each got.

#115 Reaction Chamber Fix
  Content.Server/_Pirate/ReactionChamber/Components/ReactionChamberComponent.cs
  Content.Server/_Pirate/ReactionChamber/EntitySystems/ReactionChamberSystem.cs
Labels: Changes: YML, Changes: C#

#116 Aiming Mechanic Update
  Content.Shared/_Pirate/Aiming/OnSightComponent.cs
  Content.Shared/_Pirate/Aiming/SharedCanTakeAimSystem.cs
  Content.Shared/_Pirate/Aiming/SharedOnSightSystem.cs
  Resources/Locale/uk-UA/mail/mail.ftl
Labels: Changes: YML, Changes: C#, Changes: Localization

#109 Апдейт Унатхіві / Пофікшено Питання З Маркуванням
  Resources/Audio/_Pirate/Effects/Emotes/reptilian/snake_hissing.ogg
  Resources/Audio/_Pirate/Effects/Emotes/reptilian/snake_hissing_2.ogg
  Resources/Audio/_Pirate/Effects/Emotes/reptilian/snake_hissing_3.ogg
  Resources/Audio/_Pirate/Effects/Emotes/reptilian/snake_hissing_4.ogg
  Resources/Locale/uk-UA/_Pirate/markings/face.ftl
  Resources/Locale/uk-UA/_Pirate/markings/reptilian_head.ftl
  Resources/Locale/uk-UA/_Pirate/markings/tattoos.ftl
  Resources/Locale/uk-UA/mail/mail.ftl
  Resources/Prototypes/Body/Parts/reptilian.yml
  Resources/Prototypes/DeltaV/Species/chitinid.yml
  Resources/Prototypes/DeltaV/Species/lamia.yml
  Resources/Prototypes/DeltaV/Species/rodentia.yml
  Resources/Prototypes/DeltaV/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Species/arachne.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/harpy.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/plasmaman.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/shadowkin.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/Species/vox.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/_ADT/Mobs/Customization/reptilian/Reptilian.yml
  Resources/Prototypes/_EE/Species/tajaran.yml
  Resources/Prototypes/_EE/Species/xelthia.yml
  Resources/Prototypes/_Goobstation/Species/bananamen.yml
  Resources/Prototypes/_Impstation/Entities/Mobs/Customization/Markings/misc2.yml
  Resources/Prototypes/_Impstation/Species/thaven.yml
  Resources/Prototypes/_NF/Species/goblin_species.yml
  Resources/Prototypes/_Pirate/Entities/Mobs/Customization/Markings/reptilian_marking.yml
  Resources/Prototypes/_Pirate/SoundCollections/reptilian.yml
  Resources/Prototypes/_Pirate/Species/gray.yml
  Resources/Prototypes/_Pirate/Species/reptilian.yml
  Resources/Prototypes/_Pirate/Voice/tongue_emotes.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/_Pirate/Mobs/Customization/rept_head.rsi/head_base.png
  Resources/Textures/_Pirate/Mobs/Customization/rept_head.rsi/head_base_1.png
  Resources/Textures/_Pirate/Mobs/Customization/rept_head.rsi/head_flattened.png
  Resources/Textures/_Pirate/Mobs/Customization/rept_head.rsi/head_flattened_2.png
  Resources/Textures/_Pirate/Mobs/Customization/rept_head.rsi/head_flattened_3.png
  Resources/Textures/_Pirate/Mobs/Customization/rept_head.rsi/meta.json
  Resources/Textures/_Pirate/Mobs/Customization/tongue.rsi/meta.json
  Resources/Textures/_Pirate/Mobs/Customization/tongue.rsi/tail.png
  Resources/Textures/_Pirate/Mobs/Customization/tongue.rsi/tail_anim.png
Labels: Changes: YML, Changes: Sprite, Changes: Localization, Changes: Audio

#118 Default Settings
  Content.Client/_Pirate/PingName/PingNameSystem.cs
  Content.Shared/_Pirate/CCVar/CCVars.Pirate.cs
Labels: Changes: YML, Changes: C#

#119 Кольоровий Плащ Голіафа.
  Resources/Prototypes/Loadouts/Jobs/Logistics/salvageSpecialist.yml
Labels: Changes: YML
